<div class="equation-editor col-xs-12 col-sm-12 col-md-12 col-lg-12">
  $y = $<span class="scrubbable" data-variable="a">${{a}}$</span>$\sin $<span class="scrubbable" data-variable="p">${{p}}$</span>$(x - $<span class="scrubbable" data-variable="h">${{h}}$</span>$) + $<span class="scrubbable" data-variable="k">${{k}}$</span>
</div>
