html, body {
  width: 100%;
  height: 100%;
}

#activity {
  width: 100%;
  height: 100%;
}

#interactive-sine-graph {
  width: 100%;
  height: 100%;
  text-align: center;
}

.scrubbable {
  background-color: #ccc;
  padding-left: 10px;
  padding-right: 10px;

  &:hover {
    cursor: ew-resize;
  }
}

.equation-editor {
  font-size: 2em;
  padding: 0;
  text-align: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scrubbing-mode-on {
  cursor: ew-resize;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  .equation-editor {
    font-size: 4em;
  }

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  .equation-editor {
    font-size: 3em;
  }
}
